page-construction-site-info-detail {
    ion-content {
        .headImg {
            text-align: center;
            img {
                height: 54vw;
                width: 100%;
            }
        }
    }
}