<ion-header (click)="editInfo()">
  <div class="title">我的</div>
  <div class="avatar"></div>
  <div class="name">
    <div>{{manageUnitName}}</div>
    <div>{{userName}}</div>
  </div>
  <!-- <ion-icon name="ios-create-outline"></ion-icon> -->
  <div class="deal">
    <img src="assets/self/ic_self_edit_self_info.png">
  </div>
</ion-header>

<ion-content class="self-index">
  <ion-grid class="mainBar">
    <ion-row>
      <ion-col>
        <div class="iconButton" (click)="culturalRelicInfoList()">
          <img src="assets/self/cultural_relic.png">
          <br> 文物中心
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" (click)="museumInfoList()">
          <img src="assets/self/museum.png">
          <br> 博物馆
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" (click)="constructionSiteList()">
          <img src="assets/self/construction_site.png">
          <br> 工地
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" (click)="culturalRelicMap()">
          <img src="assets/self/cultural_relic_map.png">
          <br> 文物地图
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="mainBar" *ngIf="hasAllTodo||hasInspectionNotice||hasNotice||hasMessageCenter">
    <div class="seperateBar">
      <div class="title">
        <div>通知</div>
      </div>
    </div>
    <ion-row>
      <ion-col>
        <div class="iconButton" *ngIf="hasAllTodo" (click)="allTodo();">
          <ion-badge *ngIf="allTodoBadge && allTodoBadge != 0" color="danger">{{allTodoBadge}}</ion-badge>
          <img src="assets/self/all_todo.png">
          <br> 待办事宜
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" *ngIf="hasInspectionNotice" (click)="inspectionNotice();">
          <ion-badge *ngIf="inspectionNoticeBadge && inspectionNoticeBadge != 0" color="danger">{{inspectionNoticeBadge}}</ion-badge>
          <img src="assets/self/inspection_notice.png">
          <br> 督察通知
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" *ngIf="hasNotice" (click)="notice();">
          <ion-badge *ngIf="noticeBadge && noticeBadge != 0" color="danger">{{noticeBadge}}</ion-badge>
          <img src="assets/self/notice.png">
          <br> 通知公告
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" *ngIf="hasMessageCenter" (click)="messageCenter();">
          <ion-badge *ngIf="messageCenterBadge && messageCenterBadge != 0" color="danger">{{messageCenterBadge}}</ion-badge>
          <img src="assets/self/message_center.png">
          <br> 消息中心
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="mainBar">
    <div class="seperateBar">
      <div class="title">
        <div>巡查</div>
      </div>
    </div>
    <ion-row>
      <ion-col>
        <div class="iconButton" *ngIf="hasPatrolAdd" (click)="patrolAdd();">
          <img src="assets/self/patrol_add.png">
          <br> 巡查录入
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" *ngIf="hasPatrolOnline" (click)="patrolOnline();">
          <img src="assets/self/patrol_online.png">
          <br> 巡查在线
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" *ngIf="hasPatrolStatistic" (click)="patrolStatistic();">
          <img src="assets/self/patrol_statistic.png">
          <br> 巡查统计
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="mainBar" *ngIf="hasPublicOpinion||hasMoveableStatistic">
    <div class="seperateBar">
      <div class="title">
        <div>其他</div>
      </div>
    </div>
    <ion-row>
      <ion-col>
        <div class="iconButton" *ngIf="hasPublicOpinion" (click)="publicOpinion();">
          <img src="assets/self/public_opinion.png">
          <br> 舆情信息
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" *ngIf="hasMoveableStatistic" (click)="moveableStatistic();">
          <img src="assets/self/case_statistic.png">
          <br> 可移动文物统计
        </div>
      </ion-col>
      <ion-col>
         <div class="iconButton" *ngIf="hasMoveableStatistic" (click)="otherStatistic();">
        <img src="assets/self/case_statistic.png">
        <br> 其他统计
      </div></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>