page-self-index {
    ion-header {
        height: 49vw;
        background-image: url('../assets/self/header_bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-size: 18px;
        color: #fff;
        .title {
            margin: 15px auto 10px 15px;
        }
        .avatar {
            float: left;
            width: 60px;
            height: 60px;
            background-image: url('../assets/self/head_portrait.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin: 0 10px 0 15px;
        }
        .name {
            float: left;
            div {
                margin: 4px 0;
                font-size: 16px;
            }
        } 
        // [name=ios-create-outline] {
        //     float: right;
        //     font-size: 35px;
        //     width: 35px;
        //     height: 35px;
        //     margin: 14px 7px;
        // }
        .deal {
            float: right;
            //font-size: 32px;
            width: 26px;
            height: 26px;
            margin: 14px 12px;
        }
    }
}

ion-content.self-index {
    .badge-ios {
        border-radius: 50%;
    }
    ion-badge {
        padding: 0;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.5em;
        line-height: 1.5rem;
        font-weight: normal;
    }
    .mainBar {
        padding: 10px 0;
        .col {
            text-align: center;
            border-right: 1px solid color($colors, border, base);
            padding: 5px 0;
            .iconButton {
                font-size: 12px;
                color: color($colors, dark, base);
                text-align: center;
                img {
                    width: 3.5em;
                }
            }
            .iconButton:active {
                background-color: color($colors, background, base);
            }
        }
        .col:last-child {
            border-right: 0px;
        }
    }
    .list {
        .item:first-child {
            border-top: 1px solid color($colors, border, base);
        }
        .item {
            padding-left: 0;
            .label {
                color: color($colors, dark, base);
                padding-top: 0;
                padding-bottom: 0;
                font-size: 14px;
                display: flex;
                img {
                    float: left;
                    width: 2.8rem;
                    height: 2.8rem;
                    margin: 0 15px;
                    align-self: center;
                }
                .list-title {
                    //align-self: center;
                    //line-height: 1.5rem!important;
                    //垂直居中
                    display: flex;
                    justify-content: center;
                    align-items: Center;
                    .badge {
                        margin-top: -0.5mm;
                        margin-left: 3mm;
                    }
                }
            }
        }
        .item:active {
            background-color: color($colors, background, base);
        }
        .item-ios.activated {
            background-color: color($colors, background, base);
        }
    }
}