<ion-header>
  <div class="title">我的</div>
  <div class="avatar"></div>
  <div class="name">
    <div>{{areaName}}</div>
    <div>系统管理员</div>
  </div>
  <ion-icon name="ios-create-outline" (click)="editInfo()"></ion-icon>
</ion-header>

<ion-content>
  <ion-grid class="mainBar">
    <ion-row>
      <ion-col>
        <div class="iconButton" (click)="culturalRelicInfoList()">
          <img src="../assets/self/cultural_relic.png">
          <br> 文物中心
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" (click)="museumInfoList()">
          <img src="../assets/self/museum.png">
          <br> 博物馆
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" (click)="constructionSiteList()">
          <img src="../assets/self/construction_site.png">
          <br> 工地
        </div>
      </ion-col>
      <ion-col>
        <div class="iconButton" (click)="culturalRelicMap()">
          <img src="../assets/self/cultural_relic_map.png">
          <br> 文物地图
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <button ion-item *ngIf="hasCulturalRelicTwoLine" (click)="culturalRelicTwoLine();">
      <img src="../assets/self/two_line.png"> 国保单位两线监控
    </button>
    <button ion-item *ngIf="hasAllTodo" (click)="allTodo();">
      <img src="../assets/self/all_todo.png"> 待办事宜
    </button>
    <button ion-item *ngIf="hasInspectionNotice" (click)="inspectionNotice();">
      <img src="../assets/self/inspection_notice.png"> 督查通知
    </button>
    <button ion-item *ngIf="hasNotice" (click)="notice();">
      <img src="../assets/self/notice.png"> 通知公告
    </button>
    <button ion-item *ngIf="hasMessageCenter" (click)="messageCenter();">
      <img src="../assets/self/message_center.png"> 消息中心
    </button>
    <button ion-item *ngIf="hasPatrolAdd" (click)="patrolAdd();">
      <img src="../assets/self/patrol_add.png " (click)="patrolAdd();"> 巡查录入
    </button>
    <button ion-item *ngIf="hasPatrolOnline" (click)="patrolOnline();">
      <img src="../assets/self/patrol_online.png"> 巡查在线
    </button>
    <button ion-item *ngIf="hasMoveableStatistic" (click)="moveableStatistic();">
      <img src="../assets/self/case_statistic.png"> 可移动文物统计
    </button>
    <button ion-item *ngIf="hasPatrolStatistic" (click)="patrolStatistic();">
      <img src="../assets/self/patrol_statistic.png"> 巡查统计
    </button>
    <button ion-item *ngIf="hasPublicOpinion" (click)="publicOpinion();">
      <img src="../assets/self/public_opinion.png"> 舆情信息
    </button>
  </ion-list>
</ion-content>