page-inspect-chart {
    .Total {
        padding: 12px 0;
        color: color($colors, dark, base); //设置字体颜色为灰色
        height: 15mm; //border-width: 0 0 1px 0!important;
        .total {
            display: inline-block;
            width: 48.5%;
            font-size: 1rem;
            padding: 5px 0 5px 16px;
            height: 52px;
            border-right: solid 1px color($colors, border, base);
            div:last-child {
                padding-top: 2px;
                font-size: 15px;
            }
        }
        .total:last-child {
            border-right: 0;
        }
    }
    .shadow {
        border-top: solid 1px color($colors, border, base);
        height: 6px;
        background-color: rgb(247, 247, 248);
        width: 100%;
    }
}