page-self-edit-info {
    ion-content {
        .item-ios {
            padding-left: 0;
            ion-label:first-child {
                padding-left: 16px;
                height:35px;
                line-height: 37px;
                border-right: solid 1px #c7c7c7;
            }
            ion-label:last-child {
                padding-left: 16px;
                color:#000;
            }
        }
    }
    ion-footer {
        .grid {
            padding: 0;
            .col {
                padding: 0;
                .button-ios {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}