page-self-edit-info {
    ion-label[fixed] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 80px;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        width: 80px;
        min-width: 80px;
        max-width: 200px;
    }
    .item{
        padding-right:16px;
    }
}