page-login {
    .scroll-content {
        overflow: hidden;
        background-image: url('/assets/login/bg.png');
        background-repeat: no-repeat;
        background-size: 100%;
        form {
            margin-top: 45%;
            padding: 20px;
            .logo {
                margin-left: 15%;
                width: 70%;
            }
            .loginBar {
                background: rgba(255, 255, 255, 0.8);
                border: solid 1px #745d50;
                height: 43px;
                img {
                    position: absolute;
                    float: left;
                    width: 41px;
                    height: 41px;
                    padding: 8px 10px;
                    z-index: 99999;
                }
                .text-input {
                    margin-top: 13px;
                    padding-left: 43px;
                }
            }
            .accountBar {
                border-radius: 4px 4px 0 0;
            }
            .passwordBar {
                border-top-width: 0;
                border-radius: 0 0 4px 4px;
            }
            .button {
                border: solid 1px #442c20;
                background: linear-gradient(rgba(84, 84, 84, 0.8), rgba(42, 42, 42, 0.8));
            }
            .button.activated {
                background: linear-gradient(rgba(42, 42, 42, 0.8), rgba(84, 84, 84, 0.8));
            }
            .spacer {
                height: 40px
            }
        }
        .version {
            color: rgba(42, 42, 42, 0.8);
            position: fixed;
            bottom: 5px;
            right: 5px;
        }
    }
}