page-login {
    .scroll-content{
        overflow: hidden;
        background-image:url('../assets/login/bg.png');
        background-repeat:no-repeat;
        background-size: 100%;
    }
    form {
        margin-top: 20%;
        padding: 20px;
        .logo{
            margin-left: 15%;
            width:70%;
        }
        .loginBar{
            background:rgba(255,255,255,0.8);
            border: solid 1px #745d50;
            img{
                position: absolute;
                float: left;
                height:32px;
                margin-top: 8px;
                margin-left: 10px;
                z-index: 99999;
            }
            ion-item {
                background: transparent;
                padding-left: 50px;
                .item-inner{
                    border-bottom: 0px !important;
                }
            }
            .text-input{
                margin-top:13px;
            }
        }
        .accountBar{
            border-radius: 4px 4px 0 0;
        }
        .passwordBar{
            border-top-width: 0;
            border-radius: 0 0 4px 4px;
        }
        .button {
            border:solid 1px #442c20;
            background: linear-gradient(rgba(84,84,84,0.8), rgba(42,42,42,0.8));
        }
        .button.activated {
            background: linear-gradient(rgba(42,42,42,0.8), rgba(84,84,84,0.8));
        }
        .spacer{
            height: 20px
        }
    }
}
