<ion-header>
  <ion-navbar class="modal-nav">
    <ion-title>搜索消息</ion-title>
    <ion-buttons right>
      <button ion-button (click)="clear()">清空</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="form-list">
    <ion-item>
      <ion-label fixed>消息类别</ion-label>
      <ion-select [(ngModel)]="search.messageType" cancelText="取消" interface="popover">
        <ion-option *ngFor="let kvp of searchDataSource.messageTypeList" value="{{kvp.key}}">{{kvp.value}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>阅读状态</ion-label>
      <ion-select [(ngModel)]="search.readState" cancelText="取消" interface="popover">
        <ion-option *ngFor="let kvp of searchDataSource.readStateList" value="{{kvp.key}}">{{kvp.value}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>发送开始时间</ion-label>
      <ion-datetime placeholder="点击选择发送开始时间" cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" [(ngModel)]="search.startDateTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label fixed>发送结束时间</ion-label>
      <ion-datetime placeholder="点击选择发送结束时间" cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" [(ngModel)]="search.endDateTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label fixed>消息主题</ion-label>
      <ion-input type="text" [(ngModel)]="search.messageTitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>消息内容</ion-label>
      <ion-input type="text" [(ngModel)]="search.messageContent"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>发送单位</ion-label>
      <ion-input type="text" [(ngModel)]="search.addManageUnitName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>发送人员</ion-label>
      <ion-input type="text" [(ngModel)]="search.adderName"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button block (click)="doSearch()">确定</button>
</ion-footer>