page-cultural-relic-statistics {
    ion-toolbar {
        .toolbar-background {
            background: #fff;
        }
    }
    ion-list {
        .item-block {
            padding-left: 0;
            height: 80px;
            .item-inner {
                padding-left: 8px;
                padding-right: 10px!important;
                ion-label {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
        .item-block:last-child {
            border-bottom-width: 0!important;
        }
    }
    .list {
        margin-bottom: 0;
    }
    .top {
        height: 19mm;
    }
    .Total {
        padding: 15px 0;
        .total {
            display: inline-block;
            width: 49.5%;
            font-size: 12px;
            padding: 5px 0 5px 12px;
            height: 52px;
            border-right: solid 1px color($colors, border, base);
            color: color($colors, dark, base); //设置字体颜色为灰色
            div:last-child {
                padding-top: 5px;
                font-size: 18px;
            }
        }
        .total:last-child {
            border-right: 0;
        }
    }
    .Total11,
    .Total12 {
        padding-top: 12px;
        width: 49.5%;
        float: left;
        border-left: solid 1px color($colors, border, base);
        font-size: 12px;
        .Total1 {
            padding: 4px 0 0 0;
            .total1 {
                display: inline-block;
                width: 49.5%;
                font-size: 0.1rem;
                padding: 0;
                height: 52px;
                color: color($colors, dark, base); //设置字体颜色为灰色
                div:last-child {
                    padding-top: 5px;
                    font-size: 15px;
                }
            }
        }
    }
    .Total11:first-child {
        border-left: 0;
    }
    .Total12 {
        padding-left: 16px;
    }
    .Total11 {
        padding-left: 8px;
    }
    .collectionUnitName {
        text-align: center;
        background-color: rgb(222, 222, 222);
        border-bottom: 0;
        font-size: 14px;
        height: 38px;
        line-height: 40px;
        color: rgb(90, 90, 90); //设置字体颜色为灰色
    }
}