page-tabs {
    .tab-button [ng-reflect-name=twoLine]{
        width: 44px !important;
        height: 48px !important;
        background-image: url('../assets/icon/tabs_twoLine_normal.png');
        background-repeat:no-repeat;
        background-size: 100%;
    }
    .tab-button.activated [ng-reflect-name=twoLine],
    .tab-button [ng-reflect-name=twoLine][ng-reflect-is-active=true]{
        background-image: url('../assets/icon/tabs_twoLine_active.png');
    }
}
