page-tabs {
    .show-tabbar:after{
        content: "";
        width: 48px !important;
        height: 48px !important;
        background-image: url('../assets/icon/tabs_twoLine_normal.png');
        background-repeat:no-repeat;
        background-size: 100%;
        position:fixed;
        display: block;
        left: 26px;
        z-index:1;
        bottom:2px;
    }
    .copyTwoLine{
        width: 48px !important;
        height: 48px !important;
        position:fixed;
        left: 26px;
        z-index:1;
        bottom:2px;
    }
}
