<ion-header>
  <ion-navbar>
    <ion-title>博物馆</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="showSimpleSearch()">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showSearch('MuseumSearchPage')">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="defaultAdd()">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="dataList && dataList.length > 0">
    <ion-list>
      <ion-item *ngFor="let data of dataList" (click)="defaultView('MuseumInfoDetailPage', data.museumDetailInfo.id)" (press)="pressDataItem(data)">
        <div class="img">
          <img src="{{data.miniImageUrl ? data.miniImageUrl : './../../../assets/icon/empty_small.png'}}">
        </div>
        <div class="description">
          <h3>{{data.museumDetailInfo.museumName}}</h3>
          <div>{{data.museumDetailInfo.remark}}</div>
          <h4>{{data.museumDetailInfo.enumAreaName}}-{{data.museumDetailInfo.districtName}}</h4>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="nextPage($event)">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="正在加载...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="!dataList || dataList.length == 0" class="commonNoResult">
    无数据
  </div>
</ion-content>