page-patrol-info-detail {
    ion-header .toolbar .toolbar-background {
        border: none;
        height: 50px;
    }
    .back-button.show-back-button {
        display: none;
    }
    .side-menu {
        .menu-inner>ion-content {
            z-index: 100;
            background: $toolbar-background;
        }
        .img {
            width: 3rem;
            height: 3rem;
            float: left;
            margin-left: 1rem;
            background-size: 3rem;
        }
        .item.item-block.selected {
            background-color: #228f6f;
        }
        .patrol-history.selected .img {
            background-image: url('../assets/icon/ic_law_input_press.png');
        }
        .patrol-handle.selected .img {
            background-image: url('../assets/icon/ic_patrol_info_dispose_process_press.png');
        }
        .patrol-history .img {
            background-image: url('../assets/icon/ic_law_input_normal.png');
        }
        .patrol-history:active .img {
            background-image: url('../assets/icon/ic_law_input_press.png');
        }
        .patrol-handle .img {
            background-image: url('../assets/icon/ic_patrol_info_dispose_process_normal.png');
        }
        .patrol-handle:active .img {
            background-image: url('../assets/icon/ic_patrol_info_dispose_process_press.png');
        }
        .patrol-reply .img {
            background-image: url('../assets/icon/ic_patrol_info_dispose_normal.png');
        }
        .patrol-reply:active .img {
            background-image: url('../assets/icon/ic_patrol_info_dispose_press.png');
        }
        button.item-ios:not([detail-none]) .item-inner {
            background-image: none;
        }
        .item.item-block {
            background: color($colors, primary, base);
        }
        .list-title {
            color: #fff;
            margin-left: 5rem;
            line-height: 3rem;
        }
        ion-content .list .item .item-inner {
            border-bottom: 1px solid #b3e3da;
        }
        .item.item-ios {
            padding-left: 0;
        }
        ion-content .list .item:last-child {
            border-bottom: none;
        }
        ion-backdrop {
            visibility: visible;
        }
    }   
    ion-content {
        .navi {
            background-image: url('../assets/icon/ic_self_right_arrows.png');
            padding-right: 32px;
            background-position: right 14px center;
            background-position: right calc(14px + constant(safe-area-inset-right)) center;
            background-position: right calc(14px + env(safe-area-inset-right)) center;
            background-repeat: no-repeat;
            background-size: 8px;
        }
        span.navi {
            background-image: url('../assets/icon/ic_self_right_arrows.png');
            padding-right: 32px;
            background-position: right 8px center;
            background-position: right calc(14px + constant(safe-area-inset-right)) center;
            background-position: right calc(14px + env(safe-area-inset-right)) center;
            background-repeat: no-repeat;
            background-size: 8px;
            width: 14px;
            height: 14px;
            float: right;
        }
        .slides {
            height: 54vw;
        }
        .headImg {
            text-align: center;
            height: 54vw;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .menu-content.menu-content-overlay {
            display: none;
        }
        .list.form-list .item .item-inner{
            .label.attachment-label{
                .title{
                    font-size: 5mm;
                    border-bottom:1px solid color($colors, border, base);
                }
                .icon{
                    align-self: center;
                    right:12px;
                    font-size: 27px;
                }
                div.attachment .attachmentContent{
                    border-bottom: 1px solid #f0f0f0;
                    border-top: none;
                }
            }
        }
        .list .item:last-child{
            border-bottom: none;
        }
        .contain-bottom .list .last-border{
            border-bottom: 1px solid #f0f0f0;
        }
    }
    .grid.list-grid {
        border-bottom: 1px solid color($colors, border, base);
        padding: 15px 0px 15px 8px;
        .row {
            .col {
                font-size: 15px;
            }
            .col:first-child {
                color: color($colors, primary, base);
            }
            .col:last-child {
                word-wrap: break-word;
                word-break: break-all;
                text-overflow: clip;
                white-space: normal;
                padding-left: 18px;
                .button {
                    font-size: 12px;
                    height: 18px;
                    float: right;
                    margin: 0 0.2rem;
                }
            }
            .phoneNo {
                text-decoration: underline;
                color: color($colors, phoneNo, base);
            }
        }
    }
    .list.form-list .item .label.navi div {
        white-space: normal;
    }
    ion-menu {
        top: 49px;
        position: fixed;
    }
    ion-footer {
        position: fixed;
    }
    footer.footer-ios {
        .grid {
            padding: 0;
            .col {
                height: 12.5mm;
                padding: 0;
            }
        }
    }
    .specBorder{
        border-bottom: 1px solid #f0f0f0;
    }
    .contain-bottom{
        margin-bottom:55px;
    }
}
.ios ion-menu[type=overlay] .menu-inner{
    box-shadow: none;
}