<ion-header>
  <ion-navbar class="modal-nav">
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>督察通知详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="inspectionNotice" class="form-list">
    <ion-item>
      <ion-label fixed>接收单位</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.toManageUnitName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>文件编号</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.fileNumber}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>主题</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.fileTitle}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>文物名称</ion-label>
      <ion-label class="navi" (click)="showCulturalRelic(inspectionNotice.inspectorNotice.fK_CulturalRelicID)">
        <div>{{inspectionNotice.inspectorNotice.culturalRelicName}}</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>发送单位</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.fromManageUnitName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>发送时间</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.fromTime | datetime}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>当前状态</ion-label>
      <ion-label>{{inspectionNotice.recordStateName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>情况描述</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.situationDescription}}</ion-label>
    </ion-item>
    <ion-item *ngIf="record == 3">
      <ion-label fixed>回复人</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.replyUserName}}</ion-label>
    </ion-item>
    <ion-item *ngIf="record == 3">
      <ion-label fixed>回复内容</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.replyContent}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="attachment-label">
        <div class="title">附件</div>
        <div *ngIf="inspectionNotice.attachmentList && inspectionNotice.attachmentList.length > 0" class="attachment">
          <div *ngFor="let att of inspectionNotice.attachmentList" class="attachmentContent">
            <img src="assets/icon/file_{{att.fileType}}.png">
            <div class="description">
              <div class="fileShowName">{{att.fileShowName}}</div>
              <div class="fileName">{{att.fileName}}</div>
            </div>
            <button ion-button outline color="secondary" (click)="showAttachmentList(att.fileUrl)" *ngIf="att.fileType == 'img' && att.isDownloaded">查看</button>
            <button ion-button outline color="tertiary" (click)="download(att.fileUrl)" *ngIf="att.fileType != 'img' || !att.isDownloaded">下载</button>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="segmentIndex == '0' && record == 2">
  <button ion-button block (click)="reply()">回复</button>
</ion-footer>