page-inspection-notice-detail {
    .navi {
        background-image: url('../assets/icon/ic_self_right_arrows.png');
        padding-right: 32px;
        background-position: right 14px center;
        background-position: right calc(14px + constant(safe-area-inset-right)) center;
        background-position: right calc(14px + env(safe-area-inset-right)) center;
        background-repeat: no-repeat;
        background-size: 8px;
    }
    ion-header .toolbar .bar-buttons .icon:before {
        content:"\f3cf";
        display: inline-block;
     }
     ion-header .modal-nav .back-button{
         display: none;
     }
}