<ion-header>
  <ion-navbar>
    <ion-title>督查通知详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label fixed>接收单位</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.toManageUnitName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>文件编号</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.fileNumber}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>主题</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.fileTitle}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>文物名称</ion-label>
      <ion-label class="navi">
        <div>{{inspectionNotice.inspectorNotice.culturalRelicName}}</div>
        <button ion-button outline (click)="showculturalRelic(inspectionNotice.inspectorNotice.fK_CulturalRelicID)">查看</button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>发送单位</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.fromManageUnitName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>发送时间</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.fromTime | datetime}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>当前状态</ion-label>
      <ion-label>{{inspectionNotice.recordStateName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>情况描述</ion-label>
      <ion-label>{{inspectionNotice.inspectorNotice.situationDescription}}</ion-label>
    </ion-item>
    <ion-item *ngIf="inspectionNotice.attachmentList && inspectionNotice.attachmentList.length > 0" class="littleTitle">
      附件
    </ion-item>
    <ion-item *ngIf="inspectionNotice.attachmentList && inspectionNotice.attachmentList.length > 0" class="attachment">
      <div *ngFor="let att of inspectionNotice.attachmentList" class="attachmentContent">
        <img src="./../../../assets/icon/file_{{att.fileType}}.png">
        <div class="description">
          <div class="fileShowName">{{att.fileShowName}}</div>
          <div class="fileName">{{att.fileName}}</div>
        </div>
        <button ion-button outline (click)="showAttachmentList(att.fileUrl)" *ngIf="att.fileType == 'img'">查看</button>
        <button ion-button outline (click)="download(att.fileUrl)" *ngIf="att.fileType != 'img'">下载</button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>