page-patrol-map {
    $protect: #FF080C; //保护范围
    $controlPlace: #507daf; //建设控制地带
    $origionMarker: #2b81ff; //原始的marker颜色
    $selectedMarker: #f57e1e; //被选中的marker颜色
    $warningMarker: #f05853; //预警的marker颜色
    ion-header {
        .toolbar {
            .toolbar-content {
                .title {
                    padding-left: 3mm;
                }
            }
        }
    }

    .scroll {
        height: 100%;
    }
    .topHeader {
        background-color: $toolbar-background;
    }
    .card {
        position: absolute;
        top: 10px;
        margin-left: 1rem;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        z-index: 1;
        background: #fff;
        font-size: 12px;
        padding: 3px;
        color: #383838;
    }
    .card div span {
        width: 1rem;
        height: 0;
        display: inline-block;
        margin-right: 3px;
        position: relative;
        top: -3px;
        margin: 0.1em 0.2em;
    }
    .card .selfThing,
    .card .protect {
        margin-bottom: 0.2em;
    }
    .card .selfThing span {
        border-top: 3px solid $toolbar-background;
    }
    .card .protect span {
        border-top: 3px solid $protect;
    }
    .card .controlPlace span {
        border-top: 3px solid $controlPlace;
    }
    .bottom {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        .locateContainer div,
        .editInfo div,
        {
            width: 3.4em;
            height: 3.4em;
            background-size: 3.4em;
        }
        .editInfo div {
            width: 3.5em;
            height: 3.6em;
            background-size: 3.5em;
        }
        .upArrow div,
        .ios-arrow-down div {
            width: 2.3em;
            height: 2.5em;
            background-size: 2em;
            float: right;
            margin-top: -0.6em;
        }
        .upArrow div {
            margin-right: 0.9em;
            margin-bottom: 0.9em;
            background-image: url('../assets/map/ic_title_bar_arrow_up.png');
            background-repeat: no-repeat;
        }
        .ios-arrow-down div {
            background-image: url('../assets/map/ic_title_bar_arrow_down.png');
            background-repeat: no-repeat;
        }
        .locateContainer div {
            background-image: url('../assets/map/ic_map_location_to_self_normal.png');
        }
        .locateContainer div:active {
            background-image: url('../assets/map/ic_map_location_to_self_press.png');
        }
        .editInfo div {
            background-image: url('../assets/map/ic_patrol_info_add_normal.png');
        }
        .editInfo div:active {
            background-image: url('../assets/map/ic_patrol_info_add_press.png');
        }
        .titleContain {
            float: left;
        }
        .title {
            font-size: 1.8rem;
            margin-bottom: 0.5rem;
        }
        .subTitle {
            font-size: 0.9em;
            color: #bfbfbf;
            margin-bottom: 0.1rem;
            span {
                margin-right: 0.8em;
            }
        }
        img {
            width: 1.5rem;
            position: relative;
            top: 3px;
            margin-right: 0.2rem;
        }
        .detail {
            padding: 1.8rem 1rem 1rem 1.2rem;
            background: #fff;
            border-top: 1px solid #e4e4e4;
            .detailItem {
                font-size: 14px;
                div {
                    display: inline-block;
                    color: $toolbar-background;
                    width: 30%;
                    text-align: center;
                    border-right: 1px solid #ddd;
                    padding: 0.4rem 0.3rem 0.5rem 0.4rem;
                }
                div:active {
                    background: #e0e0e0;
                }
                text-align: center;
            }
            .detailItem div:last-child {
                border-right: none;
                padding-right: 0;
            }
            .detailItem div:first-child {
                padding-left: 0;
            }
        }
        .hideDetailItem {
            display: none;
        }
    }
    .hideCard,
    .hideBottom,
    .upArrow {
        display: none;
    }
    .showUpArrow {
        display: block;
    }
    .clear {
        clear: both;
    }
    .locateContainer {
        float: left;
        margin-left: 0.6em;
        margin-bottom: 0.6em;
    }
    .editInfo {
        float: right;
        margin-right: 0.6em;
        margin-bottom: 0.6em;
    }
    .BMap_cpyCtrl, .anchorBL{
        display:none;   
    }
    .toolbar-background {
        border-bottom-width: 0px !important;
    }
    .toolCulturalBlue {
        position: relative;
        width: auto;
        height: auto;
        background: $toolbar-background;
        border: 1px solid #A5C4EC;
        border-radius: 4px;
        line-height: 18px;
        margin-top: -14px;
        margin-bottom: -14px;
    }
    .toolCulturalBlue {
        border: 0px;
    }
    .positionContain {
        position: relative;
        background: $origionMarker;
        font-size: 12px;
        border-radius: 2px;
    }
    .positionContain:after {
        position: absolute;
        display: inline-block !important;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-top-color: $origionMarker;
        content: '';
        left: 10px;
    }
    .positionContain[name=selected] {
        background: $selectedMarker;
        border-top-color: $selectedMarker;
    }
    .positionContain[name=selected]:after {
        border-top-color: $selectedMarker;
    }
    .warning {
        background: $warningMarker;
    }
    .warning:after {
        border-top-color: $warningMarker;
    }
    .positionContain.warning[name=selected] {
        background: $warningMarker;
    }
    .positionContain.warning[name=selected]:after {
        border-top-color: $warningMarker;
    }
    .circleRedLabel,
    .circleBlueLabel {
        color: #fff;
        position: relative;
        font-size: 14px;
        height: 86px;
        width: 86px;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        .contentContainer {
            display: inline-block;
            margin-top: 24px;
        }
    }
    .circleRedLabel {
        background: $warningMarker;
    }
    .circleBlueLabel {
        background: $origionMarker;
    }
    .circleRedLabel[name=selected],
    .circleBlueLabel[name=selected] {
        background: $selectedMarker;
    }
    .caseCountShow {
        display: none;
    }
    .col {
        background: gray;
    }
    .BMap_scaleBar.BMap_scaleHBar img{
        display: none;
    }
    .BMap_scaleHBar,
    {
        height: 1px;
    }
    .BMap_scaleLBar, .BMap_scaleRBar{
        width: 1px;
    }
    .BMap_scaleCtrl.BMap_noprint.anchorBL{
        display: block;
        left: 10px;
    }
        
}