<ion-header>
  <ion-navbar class="modal-nav">
    <ion-searchbar [(ngModel)]="keyword" [placeholder]="'请输入关键字'">
    </ion-searchbar>
    <ion-buttons right>
      <button ion-button (click)="getData()">搜索</button>
    </ion-buttons>
  </ion-navbar>
  <div class="thead">
    <div class="thead-label">
      <div style="width:24%;text-align: center;">姓名</div>
      <div style="width:42%;text-align: center;">管理单位</div>
      <div style="width:33%;text-align: center;">联系号码</div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div *ngFor="let data of canSelectUserInfoList; let i = index">
    <ion-item *ngIf="!keyword || data.userName.indexOf(keyword) > -1 || data.manageUnitName.indexOf(keyword) > -1">
      <ion-label>
        <div style="width:24%;text-align: center;">{{data.userName}}</div>
        <div style="width:42%;">{{data.manageUnitName}}</div>
        <div style="width:33%;text-align: center;">{{data.mobilePhone}}</div>
      </ion-label>
      <ion-checkbox [(ngModel)]="selectUserIds[i]"></ion-checkbox>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <button ion-button (click)="doSelectAll()">全选</button>
  <button ion-button (click)="doEmptied()">清空</button>
  <button ion-button (click)="doSearch()">确定</button>
</ion-footer>