page-inspection-notice-already-reply {
    .toolbar-title {
        padding-left: 30px;
        line-height: 30px;
    }
    ion-content {
        .headImg {
            text-align: center;
            img {
                height: 47vw;
            }
        }
        ion-item.item {
            padding-left: 0;
            font-size: 13px;
            ion-label {
                margin: 2px 8px 1px 0;
            }
            ion-label:first-child {
                padding-left: 16px;
                height: 35px;
                line-height: 37px;
            }
            ion-label:last-child {
                border-left: solid 1px #c7c7c7;
                margin: 11px 0;
                padding-left: 16px;
                color: #000;
                word-wrap: break-word;
                word-break: break-all;
                text-overflow: clip;
                white-space: normal;
                .button{
                    font-size:13px;
                    height:24px;
                    float: right;
                }
            }
        }

        ion-item.littleTitle {
            min-height: 0;
            .item-inner {
                border-bottom-color: transparent !important;
                min-height: 0;
            }
            .input-wrapper {
                height: 30px;
                padding-top: 11px;
            }
            ion-label:last-child {
                font-weight: bold;
                border-left: 0px;
                color: color($colors, primary, base);
                height: 16px;
                line-height: 16px;
            }
        }
        ion-item.attachment {
            margin: 0.4em 0;
            ion-label:last-child {
                border-left: 0px;
                height: auto;
                margin: 0;
            }
            .attachmentContent {
                width: 100%;
                height: 35px;
                margin: 10px 0;
                img {
                    float: left;
                    max-width: 2.5em;
                    max-height: 2.5em;
                    position: absolute;
                }
                .description {
                    width: 100%;
                    padding-left: 3em;
                    padding-right: 60px;
                    float: left;
                    .fileShowName,
                    .fileName {
                        font-size: 12px;
                        line-height: 17px;
                        width: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    .fileShowName {
                        margin: 0 0 1px;
                        color: #000;
                    }
                    .fileName {
                        color: #999;
                    }
                }
                .button {
                    float: left;
                    position: absolute;
                    margin-left: -55px;
                }
            }
        }
        .navi{
            div{
                width: 100%;
                height: 35px;
                line-height: 35px;
                padding-right: 60px;
                float: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .button {
                float: left;
                position: absolute;
                margin-left: -55px;
            }
        }
    }
}
