<ion-header>
  <ion-navbar class="modal-nav">
    <ion-title>搜索工地</ion-title>
    <ion-buttons right>
      <button ion-button (click)="clear()">清空</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form>
  <ion-list class="form-list">
    <ion-item class="form-list">
      <ion-label fixed>工地名称</ion-label>
      <ion-input name="search.culturalRelicName" type="search" [(ngModel)]="search.culturalRelicName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>工地代码</ion-label>
      <ion-input name="search.culturalRelicCode" type="search" [(ngModel)]="search.culturalRelicCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>地址</ion-label>
      <ion-input name="search.location" type="search" [(ngModel)]="search.location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>管理单位</ion-label>
      <ion-input name="search.manageUnitName" type="search" [(ngModel)]="search.manageUnitName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>简介</ion-label>
      <ion-input name="search.remark" type="search" [(ngModel)]="search.remark"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>地区</ion-label>
      <ion-select name="search.area" [(ngModel)]="search.area" cancelText="取消" interface="popover" (ngModelChange)="areaChanged()">
        <ion-option *ngFor="let kvp of searchDataSource.areaList" value="{{kvp.key}}">{{kvp.value}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>县区</ion-label>
      <ion-select name="search.district" [(ngModel)]="search.district" cancelText="取消" interface="popover">
        <ion-option *ngFor="let kvp of districtList" value="{{kvp.key}}">{{kvp.value}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>地图标注情况</ion-label>
      <ion-select name="search.mapLabelStatus" [(ngModel)]="search.mapLabelStatus" cancelText="取消" interface="popover">
        <ion-option *ngFor="let kvp of searchDataSource.mapLabelStatusList" value="{{kvp.key}}">{{kvp.value}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>标注精确度</ion-label>
      <ion-select name="search.coordinateAccurate" [(ngModel)]="search.coordinateAccurate" cancelText="取消" interface="popover">
        <ion-option *ngFor="let kvp of searchDataSource.coordinateAccurateList" value="{{kvp.key}}">{{kvp.value}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button style="display:none;" ion-button block (click)="doSearch()"></button>
</form>
</ion-content>

<ion-footer>
  <button ion-button block (click)="doSearch()">确定</button>
</ion-footer>