page-inspection-notice-reply {
    .toolbar-title {
        padding-left: 30px;
        line-height: 30px;
    }
    ion-content {
        ion-item.item {
            padding-left: 0;
            ion-label:first-child {
                padding-left: 16px;
                height: 35px;
                line-height: 37px;
                border-right: solid 1px #c7c7c7;
            }
            ion-label:last-child {
                padding-left: 16px;
                color: #000;
            }
                textarea {
                    width: 100%;
                    border:0px;
                }
        }
    }
    ion-footer {
        .grid {
            padding: 0;
            .col {
                padding: 0;
                .button {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}