// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #2ead8c, secondary: #2ead8c, tertiary: #ff8a0f, danger: #f53d3d, light: #f4f4f4, dark: #888, background: #f7f7f7, grayText: #bbb, avater: #EDAA45, border: #f0f0f0, shadow: #d9d9d9);
$toolbar-background:color($colors, primary, base);
$img-placeholder-background: #EDAA45;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$item-ios-divider-background: color($colors, background, base);
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$label-md-text-color: color($colors, primary, base);
$item-md-divider-background:color($colors, background, base);
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
$searchbar-ios-toolbar-input-background: color($colors, background, base);
$searchbar-ios-input-search-icon-size:18px;
$searchbar-ios-input-placeholder-color: color($colors, primary, base);
$popover-ios-width: 75%;
.alert-head {
    background-color: color($colors, primary, base);
}

ion-header {
    .toolbar {
        height: 13mm;
        min-height: 13mm;
        .toolbar-background {
            border-color: color($colors, shadow, base);
        }
        .back-button {
            .back-button-icon {
                font-size: 7.5mm;
                font-weight: lighter;
                margin: 0 0 0 4mm;
            }
            .back-button-text {
                display: none;
            }
        }
        .toolbar-content {
            .title {
                padding: 0 30mm 0 15mm;
                .toolbar-title {
                    font-size: 4.8mm;
                    font-weight: lighter;
                    text-align: left;
                }
            }
        }
        .bar-buttons {
            min-width: 30mm;
            .icon {
                width: 7.5mm;
                height: 7.5mm;
                background-size: 7mm;
                margin: 0 1mm;
                background-repeat: no-repeat;
            }
            .icon:before {
                content: "";
            }
            .icon.ion-ios-search-outline {
                background-image: url('../assets/icon/title_bar_search_normal.png');
            }
            .icon.ion-ios-search-outline:active {
                background-image: url('../assets/icon/title_bar_search_press.png');
            }
            .icon.ion-ios-funnel-outline {
                background-image: url('../assets/icon/title_bar_filter_normal.png');
            }
            .icon.ion-ios-funnel-outline:active {
                background-image: url('../assets/icon/title_bar_filter_press.png');
            }
            .icon.ion-ios-add-circle-outline {
                background-image: url('../assets/icon/title_bar_add_normal.png');
            }
            .icon.ion-ios-add-circle-outline:active {
                background-image: url('../assets/icon/title_bar_add_press.png');
            }
            .icon.ion-ios-pin-outline {
                background-image: url('../assets/icon/title_bar_location_normal.png');
            }
            .icon.ion-ios-pin-outline:active {
                background-image: url('../assets/icon/title_bar_location_press.png');
            }
            .icon.ion-ios-list-box-outline {
                background-image: url('../assets/icon/title_bar_list_normal.png');
            }
            .icon.ion-ios-list-box-outline:active {
                background-image: url('../assets/icon/title_bar_list_press.png');
            }
            .icon.ion-ios-stats-outline {
                background-image: url('../assets/icon/title_bar_chart_normal.png');
            }
            .icon.ion-ios-stats-outline:active {
                background-image: url('../assets/icon/title_bar_chart_press.png');
            }
            .icon.ion-ios-menu-outline {
                background-image: url('../assets/icon/title_bar_list_normal.png');
            }
            .icon.ion-ios-menu-outline:active {
                background-image: url('../assets/icon/title_bar_list_press.png');
            }
        }
    }
    .modal-nav {
        .back-button {
            display: block;
        }
        .searchbar-input {
            font-size: 4.2mm;
        }
        .bar-buttons {
            min-width: 0;
            .button-inner {
                font-size: 4.2mm;
            }
        }
    }
}

ion-content {
    .list {
        margin-bottom: 0;
        .item:first-child {
            border-top: 0;
        }
        .item:last-child {
            border-bottom: 1px solid color($colors, border, base);
        }
        .item {
            .item-inner {
                border-bottom: 1px solid color($colors, border, base);
            }
        }
        .item {
            .label {
                padding-top: 2mm;
                padding-bottom: 2mm;
                font-size: 4.3mm;
                margin: 2.1mm 0;
            }
        }
        ion-item-options {
            .button {
                width: 3rem;
            }
        }
    }
    .list.data-list {
        .item {
            padding-left: 0;
            .item-inner {
                padding-right: 0;
                .label {
                    height: 80px;
                    margin: 15px 5px;
                    padding: 0;
                    .img {
                        position: absolute;
                        float: left;
                        width: 68px;
                        height: 68px;
                        line-height: 64px;
                        margin: 6px;
                        border: 1px solid color($colors, border, base);
                        text-align: center;
                        vertical-align: middle;
                        img {
                            vertical-align: middle;
                            max-width: 66px;
                            max-height: 66px;
                        }
                    }
                    .description {
                        width: 100%;
                        height: 100%;
                        padding-left: 80px;
                    }
                }
            }
        }
    }
    .list.form-list {
        .item {
            .label:last-child {
                margin: 2mm 0 2mm 1.5mm;
                padding: 2mm 0 2mm 1.5mm;
                border-left: 1px solid color($colors, border, base);
                color: color($colors, dark, base);
                word-wrap: break-word;
                word-break: break-all;
                text-overflow: clip;
                white-space: normal;
            }
            .text-input {
                width: 100%;
                max-width: 100%;
                margin: 2mm 0 2mm 1.5mm;
                padding: 2mm 1.5mm;
                border-left: 1px solid color($colors, border, base);
                color: color($colors, dark, base);
            }
            .select {
                width: 100%;
                max-width: 100%;
                margin: 2mm 0 2mm 1.5mm;
                padding: 1.8mm 1.5mm;
                border-left: 1px solid color($colors, border, base);
                color: color($colors, dark, base);
            }
            textarea {
                width: 100%;
                border: 0px;
                padding: 0 1.5mm 0 0;
                font-size: 17px;
            }
            textarea.rows2::-webkit-input-placeholder {
                line-height: 46px
            }
            textarea.rows3::-webkit-input-placeholder {
                line-height: 64px
            }
            textarea.rows10::-webkit-input-placeholder {
                line-height: 203px
            }
            .datetime {
                width: 100%;
                max-width: 100%;
                margin: 2mm 0 2mm 1.5mm;
                padding: 2mm 1.5mm;
                border-left: 1px solid color($colors, border, base);
                color: color($colors, dark, base);
            }
            .phoneNo {
                text-decoration: underline;
                color: color($colors, primary, base) !important;
            }
            .label.attachment-label {
                margin: 0;
                padding: 0;
                font-weight: bold;
                border: 0px;
                color: color($colors, primary, base);
                .title {
                    width: 100%;
                    padding: 4mm 60px 4mm 0;
                    float: left;
                }
                .icon {
                    float: right;
                    position: absolute;
                    font-size: 22px;
                    margin-left: -22px;
                }
                div.attachment {
                    .attachmentContent {
                        width: 100%;
                        height: auto;
                        padding: 5px 0;
                        border-top: 1px solid color($colors, border, base);
                        display: flex;
                        align-items: center;
                        img {
                            max-width: 40px;
                            max-height: 40px;
                            margin: 0.4rem 0.2rem;
                        }
                        .description {
                            width: 100%;
                            .fileShowName,
                            .fileName {
                                font-size: 12px;
                                width: 100%;
                                padding: 3px;
                                word-wrap: break-word;
                                word-break: break-all;
                                text-overflow: clip;
                                white-space: normal;
                            }
                            .fileShowName {
                                color: color($colors, dark, base);
                            }
                            .fileName {
                                color: color($colors, grayText, base);
                            }
                        }
                        .button {
                            font-size: 13px;
                            height: 24px;
                            padding: 14px 10px;
                        }
                    }
                }
            }
            .label.navi {
                div {
                    width: 100%;
                    min-height: 19px;
                    padding-right: 62px;
                    float: left;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .button {
                    font-size: 13px;
                    height: 24px;
                    float: right;
                    position: absolute;
                    margin: -3px 0 0 -58px;
                }
            }
        }
        .item.subTitle {
            .label:last-child {
                margin: 1mm 0;
                padding: 2mm 0;
                font-size: 20px;
                font-weight: bold;
                border: 0px;
                color: color($colors, primary, base);
            }
        }
    }
    .commonNoResult {
        text-align: center;
        color: color($colors, border, base);
        line-height: 16px;
        margin-top: 50%;
        padding-top: 65px;
        background-image: url('../assets/icon/common_no_result.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 12%;
    }
    .map-box {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 100%;
        height: 100%;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        #map-content {
            position: relative;
            width: 100%;
            -webkit-box-flex: 1 1 auto;
            -moz-box-flex: 1 1 auto;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
        }
        #map {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .topHeader {
            -webkit-box-flex: 0 1 auto;
            -moz-box-flex: 0 1 auto;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            padding: 0.6rem;
            padding-top: 0;
            padding-left: 1rem;
            z-index: 1;
            width: 100%;
            height: auto;
            color: #fff;
            font-size: 12px;
            display: block;
            table tr td {
                padding-right: 0.5rem;
                word-break: break-word;
                text-align: left;
                padding-top: 5px;
            }
            table tr th {
                padding-right: 0.6rem;
                min-width: 50%;
                text-align: left;
                padding-top: 5px;
                font-weight: normal;
            }
        }
    }
    iframe {
        border: 0;
    }
    ion-item-options button {
        width: 7rem;
        background: #ff8a0f;
        color: #fff;
        font-size: 2rem;
    }
}

ion-content.has-refresher>.scroll-content {
    border-top: 0;
}

ion-footer {
    .button {
        height: 12.5mm;
        font-size: 4.8mm;
        font-weight: lighter;
        margin: 0;
        padding: 0;
    }
    .grid {
        padding: 0;
        .col {
            height: 12.5mm;
            padding: 0;
        }
    }
}