page-patrol-info-edit {
    ion-content {
        .imagePicker {
            background-color: color($colors, border, base);
            padding: 5px;
            .container {
                width: 25%;
                float: left;
            }
            .img {
                display: inline-block;
                position: relative;
                background-color: #fff;
                width: 80px;
                height: 80px;
                margin: 4px;
                img {
                    width: 80px;
                    height: 80px;
                }
                .close {
                    background-image: url('../assets/icon/ic_delete_photo.png');
                    background-size: 100%;
                    float: right;
                    right: 0;
                    top: 0;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                }
            }
            .descImg {
                display: inline-block;
                color: color($colors, dark, dark);
                position: relative;
                bottom:-30px;
                margin-left: 10px;
            }
        }
        .clear {
            clear: both;
        }
    }
}