page-patrol-info-edit {
    ion-content {
        .imagePicker {
            background-color: color($colors, border, base);
            padding: 5px;
            .img {
                display: inline-block;
                position: relative;
                background-color: #fff;
                width: 80px;
                height: 80px;
                margin: 4px;
                img {
                    width: 80px;
                    height: 80px;
                }
                .close {
                    background-image: url('..s/icon/ic_delete_photo.png');
                    background-size: 100%;
                    float: right;
                    right: 0;
                    top: 0;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}