<ion-header>
  <ion-navbar class="modal-nav">
    <ion-title>新增巡查记录</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="showLocation()" (press)="pageService.showMessage('在地图上查看当前所处位置')">
        <ion-icon name="ios-pin-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="form-list">
    <div class="imagePicker">
      <div *ngFor="let att of patrolInfo.attachmentList" class="img" (click)="showAttachmentList(att)">
        <img src="{{att.fileUrl}}">
        <div class="close" (click)="delAttachmentList($event, att)"></div>
      </div>
      <div class="img" (click)="selectAttachmentList()">
        <img src="assets/icon/common_publish_image_empty.png">
      </div>
    </div>
    <ion-item>
      <ion-label fixed>文物名称</ion-label>
      <ion-label class="navi" style="padding-right: 40px;">
        <div>{{culturalRelicName}}</div>
        <button ion-button outline color="secondary" (click)="getCulturalRelic()">请选择文物</button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>类别</ion-label>
      <ion-label *ngIf="culturalRelicLevelName">{{culturalRelicLevelName}}</ion-label>
      <ion-label *ngIf="!culturalRelicLevelName" class="placeholder">选择文物后自动带出</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>巡查人员</ion-label>
      <ion-label>{{patroller}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>巡查单位</ion-label>
      <ion-label>{{areaName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>巡查日期</ion-label>
      <ion-datetime cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" [(ngModel)]="patrolInfo.patrol.patroDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label fixed>同行人员</ion-label>
      <ion-input type="text" placeholder="请输入同行人员" [(ngModel)]="patrolInfo.patrol.othersPeople"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>情况描述</ion-label>
      <ion-label>
        <textarea placeholder="请输入情况描述" rows="10" [(ngModel)]="patrolInfo.patrol.patrolDescription"></textarea>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>巡查状态</ion-label>
      <ion-select [(ngModel)]="patrolInfo.patrol.patrolState" cancelText="取消" interface="popover">
        <ion-option *ngFor="let kvp of selectDataSource.patrolStatusList" value="{{kvp.key}}">{{kvp.value}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="submit()">提交</button>
      </ion-col>
      <ion-col style="border-left: solid 1px #fff;">
        <button ion-button block (click)="close()">关闭</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>