page-two-line {
    $protect: #FF080C; //保护范围
    $controlPlace: #FF080C; //建设控制地带
    $origionMarker: #1fa0f2; //原始的marker颜色
    $selectedMarker: #f57e1e; //被选中的marker颜色
    $warningMarker: #f05853; //预警的marker颜色
    #map-content {
        position: fixed;
        top: 44px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #map {
        width: 100%;
        height: 100%;
    }
    .topHeader {
        position: fixed;
        top: 44px;
        padding: 0.6rem;
        background-color: $toolbar-background;
        z-index: 1;
        width: 100%;
        height: 45px;
        color: #fff;
        font-size: 12px;
        table tr td {
            padding-right: 0.5rem;
        }
        table tr th {
            padding-right: 0.6rem;
        }
    }
    .card {
        position: fixed;
        top: 98px;
        margin-left: 0.6rem;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        z-index: 1;
        background: #fff;
        font-size: 12px;
        padding: 3px;
    }
    .card div span {
        width: 1rem;
        height: 0;
        display: inline-block;
        margin-right: 3px;
        position: relative;
        top: -3px;
    }
    .card .selfThing span {
        border-top: 3px solid $toolbar-background;
    }
    .card .protect span {
        border-top: 3px solid $protect;
    }
    .card .controlPlace span {
        border-top: 3px solid $controlPlace;
    }
    .bottom {
        position: fixed;
        bottom: 0;
        height: auto;
        width: 100%;
        .titleContain {
            float: left;
        }
        .ios-arrow-down {
            float: right;
            font-size: 3rem;
            color: $toolbar-background;
            position: relative;
            top: -0.3rem;
        }
        .title {
            font-size: 1.8rem;
            margin-bottom: 0.5rem; // font-weight: bold;
        }
        .subTitle {
            color: #bfbfbf;
            margin-bottom: 0.1rem;
        }
        img {
            width: 1.5rem;
            float: left;
            margin-right: 0.2rem;
        }
        .detail {
            padding: 1.2rem 1rem;
            background: #fff;
            border-top: 1px solid #e5e5e5;
            .detailItem {
                div {
                    float: left;
                    color: $toolbar-background;
                    padding: 0.5rem;
                    border-right: 1px solid #ddd;
                }
                text-align: center;
            }
            .detailItem div:last-child {
                border-right: none;
            }
            .detailItem div:first-child {
                padding-left: 0;
            }
        }
        .hideDetailItem{
            display: none;
        }
    }
    .hideCard {
        display: none;
    }
    .hideBottom {
        display: none;
    }
    .clear {
        clear: both;
    }
    .locateContainer {
        color: $toolbar-background;
        width: 3.5em;
        height: 4em;
    }
    .locateContainer.button-ios{
        background: none;
    }
    .locate{
        left: 20px;
        font-size: 3.5em;
        margin-bottom: 0.6rem;
    }
    .add-circle {
        float: right;
        z-index: 10000;
        font-size: 3.5em;
        color: $toolbar-background;
    }
    .anchorBL {
        display: none;
    }
    .toolbar-background {
        border-bottom-width: 0px !important;
    }
    .toolCulturalBlue {
        position: relative;
        width: auto;
        height: auto;
        background: $toolbar-background;
        border: 1px solid #A5C4EC;
        border-radius: 4px;
        line-height: 18px;
        margin-top: -14px;
        margin-bottom: -14px;
    }
    .toolCulturalBlue {
        border: 0px;
    }
    .positionContain {
        position: relative;
        background: $origionMarker;
        font-size: 12px;
        border-radius: 2px;
    }
    .positionContain:after {
        position: absolute;
        display: inline-block !important;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-top-color: $origionMarker;
        content: '';
        left: 10px;
    }
    .positionContain[name=selected] {
        background: $selectedMarker;
        border-top-color: $selectedMarker;
    }
    .positionContain[name=selected]:after {
        border-top-color: $selectedMarker;
    }
    .warning {
        background: $warningMarker;
    }
    .warning:after {
        border-top-color: $warningMarker;
    }
    .positionContain.warning[name=selected] {
        background: $warningMarker;
    }
    .positionContain.warning[name=selected]:after {
        border-top-color: $warningMarker;
    }
    .viewDetail a:active{
        background: gray;
    }
    .viewDetail a:focus{
        background: gray;
    }
}