<ion-header>
  <ion-navbar>
      <ion-buttons left>
          <button ion-button icon-only (click)="backPrev()">
            <ion-icon name="ios-compass"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>巡查在线</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="showSimpleSearch()" (press)="pageService.showMessage('搜索巡查记录')">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showSearch('PatrolInfoSearchPage')" (press)="pageService.showMessage('筛选巡查记录')">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="defaultAdd()" *ngIf="canAdd" (press)="pageService.showMessage('新增巡查记录')">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshDataList($event)" [pullMax]="800">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中..."></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="dataList && dataList.length > 0">
    <ion-list class="data-list">
      <ion-item-sliding *ngFor="let data of dataList">
        <ion-item  (click)="defaultView('PatrolInfoDetailPage', data)">
          <div class="img">
            <img src="{{data.patrolImageUrl ? data.patrolImageUrl : 'assets/icon/empty_small.png'}}">
          </div>
          <div class="description">
            <h3>{{data.patrolInfo.culturalRelicName}}</h3>
            <h5>{{data.patrolInfo.patroDate | datetime:'yyyy-MM-dd'}}</h5>
            <div class="clear"></div>
            <div class="desContent">{{data.patrolInfo.patrolDescription}}</div>
            <h4 class="color_{{data.patrolInfo.patrolState}}">{{data.patrolStateName}}</h4>
            <h5 *ngIf="data.isCanDispose">待处理</h5>
          </div>
        </ion-item>
        <ion-item-options *ngIf="data.isCanDispose">
          <button danger (click)="disposePatrol(data)"> 处理</button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
    <ion-infinite-scroll (ionInfinite)="nextPage($event)">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="正在加载...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="!dataList || dataList.length == 0" class="commonNoResult">
    无巡查记录
  </div>
</ion-content>