page-patrol-info-list {
    ion-content {
        .list.data-list {
            .item {
                .item-inner .label {
                    min-height: 90px;
                    margin: 10px 11px 10px 5px;
                }
            }
        }
        .list.data-list {
            .item .item-inner {
                .label {
                    .description {
                        height: 90px;
                        display: flex;
                        .inner-contain{
                        width: 100%;
                        height: auto;
                        align-self: center;
                        }
                        h3 {
                            font-size: 16px;
                            margin: 0;
                            padding: 2px 0;
                            color: #000;
                            float: left;
                        }
                        .desContent {
                            font-size: 12px;
                            color: color($colors, dark, base);
                            width: 100%;
                            line-height: 14px;
                            margin: 4px 0 9px 0;
                            white-space: normal;
                            word-wrap: break-word;
                            word-break: break-all;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                        .clear{
                            clear: both;
                        }
                        h4,
                        h5 {
                            font-size: 12px;
                        }
                        h4 {
                            float: left;
                        }
                        h5 {
                            float: right;
                            color: #999;
                            margin-right: 1rem;
                            margin-top: 3px;
                        }
                        h5.need-handle {
                            color: #ff8a0f;
                        }
                    }
                }
            }
        }
    }
    .color_2 {
        color: red;
    }
    .color_1,
    .color_3 {
        color: green;
    }
    .color_4 {
        color: gray;
    }
    .back-button.show-back-button {
        display: none;
    }
}