<ion-header>
  <ion-navbar class="modal-nav">
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons *ngIf="canShowLocation" right>
      <button ion-button icon-only (click)="showLocation()" (press)="pageService.showMessage('在地图上查看或标注当前文物所处位置')">
        <ion-icon name="ios-pin-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="form-list">
    <ion-item>
      <ion-label fixed>工地名称</ion-label>
      <ion-input type="text" placeholder="请输入工地名称" [(ngModel)]="culturalRelicPostInfo.culturalRelic.culturalRelicName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>工地编码</ion-label>
      <ion-input type="text" placeholder="请输入工地编码" [(ngModel)]="culturalRelicPostInfo.culturalRelic.culturalRelicCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>地区</ion-label>
      <ion-select [(ngModel)]="culturalRelicPostInfo.culturalRelic.enumArea" cancelText="取消" interface="popover" (ngModelChange)="areaChanged()">
        <ion-option *ngFor="let kvp of selectDataSource.areaList" value="{{kvp.key}}">{{kvp.value}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>县区</ion-label>
      <ion-select [(ngModel)]="culturalRelicPostInfo.culturalRelic.district" cancelText="取消" interface="popover">
        <ion-option *ngFor="let kvp of districtList" value="{{kvp.key}}">{{kvp.value}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>地址</ion-label>
      <ion-label>
        <textarea placeholder="请输入地址" rows="3" class="rows3" [(ngModel)]="culturalRelicPostInfo.culturalRelic.location"></textarea>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>坐标</ion-label>
      <ion-label class="navi" (click)="getCoordinate()">
        <div *ngIf="!culturalRelicPostInfo.culturalRelic.coordinateX && !culturalRelicPostInfo.culturalRelic.coordinateY">请从地图标注坐标</div>
        <div *ngIf="culturalRelicPostInfo.culturalRelic.coordinateX || culturalRelicPostInfo.culturalRelic.coordinateY">
          {{culturalRelicPostInfo.culturalRelic.coordinateX}},{{culturalRelicPostInfo.culturalRelic.coordinateY}}
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>标注精确度</ion-label>
      <ion-select [(ngModel)]="culturalRelicPostInfo.culturalRelic.coordinateAccurate" cancelText="取消" interface="popover">
        <ion-option *ngFor="let kvp of selectDataSource.coordinateAccurateList" value="{{kvp.key}}">{{kvp.value}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>管理单位</ion-label>
      <ion-input type="text" placeholder="请输入管理单位" [(ngModel)]="culturalRelicPostInfo.culturalRelic.manageUnitName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>简介</ion-label>
      <ion-label>
        <textarea placeholder="请输入简介" rows="10" class="rows10" [(ngModel)]="culturalRelicPostInfo.culturalRelic.remark"></textarea>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="attachment-label">
        <div class="title">缩略图</div>
        <ion-icon name="ios-add-circle-outline" (click)="selectMiniImage()"></ion-icon>
        <div *ngIf="culturalRelicPostInfo.miniImage" class="attachment">
          <div class="attachmentContent">
            <img src="assets/icon/file_{{culturalRelicPostInfo.miniImage.fileType}}.png">
            <div class="description" style="padding-right: 104px;">
              <div class="fileShowName">{{culturalRelicPostInfo.miniImage.fileShowName}}</div>
              <div class="fileName">{{culturalRelicPostInfo.miniImage.fileName}}</div>
            </div>
            <button ion-button outline color="secondary" (click)="showMiniImage()" style="margin-left: -104px;">查看</button>
            <button ion-button outline color="danger" (click)="delMiniImage()">删除</button>
          </div>
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="attachment-label">
        <div class="title">附件</div>
        <ion-icon name="ios-add-circle-outline" (click)="selectAttachmentList()"></ion-icon>
        <div *ngIf="culturalRelicPostInfo.attachmentList && culturalRelicPostInfo.attachmentList.length > 0" class="attachment">
          <div *ngFor="let att of culturalRelicPostInfo.attachmentList" class="attachmentContent">
            <img src="assets/icon/file_{{att.fileType}}.png">
            <div class="description" style="padding-right: 104px;">
              <div class="fileShowName">{{att.fileShowName}}</div>
              <div class="fileName">{{att.fileName}}</div>
            </div>
            <button ion-button outline color="secondary" (click)="showAttachmentList(att)" style="margin-left: -104px;">查看</button>
            <button ion-button outline color="danger" (click)="delAttachmentList(att)">删除</button>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="submit()">提交</button>
      </ion-col>
      <ion-col style="border-left: solid 1px #fff;">
        <button ion-button block (click)="close()">关闭</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>