page-map-cultural-relic-locate {
    $protect: #FF080C; //保护范围
    $controlPlace: #507daf; //建设控制地带
    $origionMarker: #1fa0f2; //原始的marker颜色
    $selectedMarker: #f57e1e; //被选中的marker颜色
    $warningMarker: #f05853; //预警的marker颜色
    .topHeader {
        background-color: $toolbar-background;
    }
    .card {
        position: absolute;
        top: 10px;
        left: 1rem;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        z-index: 1;
        background: #fff;
        font-size: 12px;
        padding: 3px;
        color: #383838;
    }
    .card div span {
        width: 1rem;
        height: 0;
        display: inline-block;
        margin-right: 3px;
        position: relative;
        top: -3px;
        margin: 0.1em 0.2em;
    }
    .card .selfThing,
    .card .protect {
        margin-bottom: 0.2em;
    }
    .card .selfThing span {
        border-top: 3px solid $toolbar-background;
    }
    .card .protect span {
        border-top: 3px solid $protect;
    }
    .card .controlPlace span {
        border-top: 3px solid $controlPlace;
    }
    .showUpArrow {
        display: block;
    }
    .clear {
        clear: both;
    }
    .locateContainer {
        float: left;
        margin-left: 0.6em;
        margin-bottom: 0.6em;
        position: absolute;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-width: 0;
    }
    .positionContain {
        display: none;
    }
    .anchorBL {
        display: none;
    }
    .locateContainer div {
        width: 3.4em;
        height: 3.4em;
        background-size: 3.4em;
    }
    .locateContainer div {
        background-image: url('../assets/map/ic_map_location_to_self_normal.png');
    }
    .locateContainer div:active {
        background-image: url('../assets/map/ic_map_location_to_self_press.png');
    }
    ion-footer {
        .list-ios {
            margin: 0;
        }
        .item-ios.item-select.item-label-fixed {
            border-top: none;
        }
        .select.select-ios {
            width: 100%;
            max-width: 100%;
            margin: 2mm 0 2mm 1.5mm;
            padding: 1.8mm 1.5mm;
            border-left: 1px solid color($colors, border, base);
            color: color($colors, dark, base);
        }
        .grid {
            padding: 0;
            .col {
                padding: 0;
                .button {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    ion-header .toolbar .bar-buttons .icon:before {
        content: "\f3cf";
        display: inline-block;
    }
}