<ion-header>
  <ion-navbar>
    <ion-title>查询</ion-title>
    <ion-buttons right *ngIf="statistics=='laws'||statistics=='license'">
      <button ion-button icon-only (click)="showSimpleSearch()" (press)="pageService.showMessage('搜索')">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-segment [(ngModel)]="statistics">
    <ion-segment-button text-wrap value="cases" *ngIf="hasCase" (click)="changeSegment('cases')">
      案件统计
    </ion-segment-button>
    <ion-segment-button text-wrap value="inspect" *ngIf="hasPatrol" (click)="changeSegment('inspect')">
      巡查统计
    </ion-segment-button>
    <ion-segment-button text-wrap value="culturalRelic" *ngIf="hasPatrol" (click)="changeSegment('culturalRelic')" style="font-size: 1.2rem;">
      可移动文物统计
    </ion-segment-button>
    <ion-segment-button text-wrap value="laws" (click)="changeSegment('laws')">
      法律法规
    </ion-segment-button>
    <ion-segment-button text-wrap value="license" (click)="changeSegment('license')">
      行政许可
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-refresher [enabled]="statistics=='laws'||statistics=='license'" (ionRefresh)="refreshDataList($event)" [pullMax]="800">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中..."></ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="statistics">
    <ion-grid *ngSwitchCase="'cases'">
      <ion-row>
        <ion-col (click)='Statistics(1)' text-center>
          <img src="assets/icon/ic_search_level.png">
          <p>按类别统计</p>
        </ion-col>
        <ion-col (click)='Statistics(2)' text-center>
          <img src="assets/icon/ic_search_rectification.png">
          <p>按整改情况统计</p>
        </ion-col>
        <ion-col (click)='Statistics(3)' text-center>
          <img src="assets/icon/ic_search_fine.png">
          <p>按罚款统计</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)='Statistics(4)' text-center>
          <img src="assets/icon/ic_search_month.png">
          <p>按月度统计</p>
        </ion-col>
        <ion-col (click)='Statistics(5)' text-center>
          <img src="assets/icon/ic_search_quarter.png">
          <p>按季度统计</p>
        </ion-col>
        <ion-col (click)='Statistics(6)' text-center>
          <img src="assets/icon/ic_search_half_year.png">
          <p>按半年度统计</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)='Statistics(7)' text-center>
          <img src="assets/icon/ic_search_year.png">
          <p>按年度统计</p>
        </ion-col>
        <ion-col (click)='Statistics(8)' text-center>
          <img src="assets/icon/ic_search_source.png">
          <p>按来源统计</p>
        </ion-col>
        <ion-col (click)='Statistics(9)' text-center>
          <img src="assets/icon/ic_search_area.png">
          <p>按地区统计</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngSwitchCase="'inspect'">
      <ion-row>
        <ion-col (click)='inspectStatistics(10)' text-center>
          <img src="assets/icon/ic_search_area.png">
          <p>按县区统计</p>
        </ion-col>
        <ion-col (click)='inspectStatistics(1)' text-center>
          <img src="assets/icon/ic_search_level.png">
          <p>按类别统计</p>
        </ion-col>
        <ion-col (click)='inspectStatistics(9)' text-center>
          <img src="assets/icon/ic_search_user.png">
          <p>按人员统计</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)='inspectStatistics(4)' text-center>
          <img src="assets/icon/ic_search_month.png">
          <p>按月度统计</p>
        </ion-col>
        <ion-col (click)='inspectStatistics(5)' text-center>
          <img src="assets/icon/ic_search_quarter.png">
          <p>按季度统计</p>
        </ion-col>
        <ion-col (click)='inspectStatistics(6)' text-center>
          <img src="assets/icon/ic_search_half_year.png">
          <p>按半年度统计</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)='inspectStatistics(7)' text-center>
          <img src="assets/icon/ic_search_year.png">
          <p>按年度统计</p>
        </ion-col>
        <ion-col text-center>
        </ion-col>
        <ion-col text-center>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngSwitchCase="'culturalRelic'">
      <ion-row>
        <ion-col (click)='culturalRelicStatistics(1)' text-center>
          <img src="assets/icon/ic_search_position.png">
          <p>按位置统计</p>
        </ion-col>
        <ion-col (click)='culturalRelicStatistics(2)' text-center>
          <img src="assets/icon/ic_search_grade.png">
          <p>按级别统计</p>
        </ion-col>
        <ion-col text-center></ion-col>
      </ion-row>
    </ion-grid>


    <ion-list *ngSwitchCase="'laws'">
      <div *ngIf="dataList && dataList.length > 0">
        <ion-list class="data-list">
          <ion-item *ngFor="let data of dataList" (click)="view(data)">
            <div class="messageTitle">
              <h2>{{data.typeName}}</h2>
              <h3 class="lawsfileTitle">{{data.lawFile.fileTitle}}</h3>
            </div>
            <div>{{data.lawFile.abstract}}</div>
            <h5>{{data.lawFile.updateDate| datetime}}</h5>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="nextPage($event)">
          <ion-infinite-scroll-content loadingSpinner="circles" loadingText="正在加载...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
      <div *ngIf="!dataList || dataList.length == 0" class="commonNoResult">
        无数据
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'license'">
      <div *ngIf="dataList && dataList.length > 0">
        <ion-list class="data-list">
          <ion-item *ngFor="let data of dataList" (click)="view(data)">
            <div class="messageTitle">
              <h2>{{data.typeName}}</h2>
              <h3 class="licensefileTitle">{{data.lawFile.fileTitle}}</h3>
            </div>
            <div>{{data.lawFile.abstract}}</div>
            <h5>{{data.lawFile.updateDate| datetime}}</h5>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="nextPage($event)">
          <ion-infinite-scroll-content loadingSpinner="circles" loadingText="正在加载...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
      <div *ngIf="!dataList || dataList.length == 0" class="commonNoResult">
        无数据
      </div>
    </ion-list>
  </div>
</ion-content>