<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="chart()">
        <ion-icon name="stats"></ion-icon>
      </button>
      <button ion-button icon-only (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
  <div class="Total">
    <div class="total">
      <div>案件总数(起)</div>
      <div style="color:orange;">{{totalCaseCount}}</div>
    </div>
    <div class="total">
      <div>总罚款金额(元)</div>
      <div style="color:orange;">{{totalSumFineAmount | money}}</div>
    </div>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="dataSource && dataSource.length > 0">
    <ion-list>
      <ion-item *ngFor="let data of dataSource">
        <div class="category">
          <h3 style="font-size:12px;">{{category}}</h3>
          <p style="font-size:12px;">{{data[0]}}</p>
        </div>
        <div class="cases">
          <h3 style="font-size:12px;">案件数(起)</h3>
          <p style="font-size:12px;">{{data[1]}}</p>
        </div>
        <div class="fine">
          <h3 style="font-size:12px;">罚款金额(元)</h3>
          <p style="font-size:12px;">{{data[2] | money}}</p>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!dataSource || dataSource.length == 0" class="commonNoResult">
    无消息
  </div>

  <!-- <div *ngIf="title=='按整改情况统计'">
      <div class="Total">
          <div class="total">
            <div>案件总数(起)</div>
            <div style="color:orange;">{{totalCaseCount}}</div>
          </div>
          <div class="total">
            <div>总罚款金额(元)</div>
            <div style="color:orange;">{{totalSumFineAmount | money}}</div>
          </div>
        </div>
    <div *ngIf="dataSource2 && dataSource2.length > 0">
      <ion-list>
        <ion-item *ngFor="let data of dataSource2">
          <div class="category">
            <h3 style="font-size:12px;">{{category}}</h3>
            <p style="font-size:12px;">{{data.reportQueryCaseByRectification.rectificationName}}</p>
          </div>
          <div class="cases">
            <h3 style="font-size:12px;">案件数(起)</h3>
            <p style="font-size:12px;">{{data.reportQueryCaseByRectification.caseCount}}</p>
          </div>
          <div class="fine">
            <h3 style="font-size:12px;">罚款金额(元)</h3>
            <p style="font-size:12px;">{{data.reportQueryCaseByRectification.sumFineAmount}}</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="!dataSource2 || dataSource2.length == 0" class="commonNoResult">
      无消息
    </div>
  </div>

  <div *ngIf="title=='按罚款统计'">
      <div class="Total">
          <div class="total">
            <div>案件总数(起)</div>
            <div style="color:orange;">{{totalCaseCount}}</div>
          </div>
          <div class="total">
            <div>总罚款金额(元)</div>
            <div style="color:orange;">{{totalSumFineAmount | money}}</div>
          </div>
        </div>
    <div *ngIf="dataSource3 && dataSource3.length > 0">
      <ion-list>
        <ion-item *ngFor="let data of dataSource3">
          <div class="category">
            <h3 style="font-size:12px;">{{category}}</h3>
            <p style="font-size:12px;">{{data.reportQueryCaseByFineAmount.levelName}}</p>
          </div>
          <div class="cases">
            <h3 style="font-size:12px;">案件数(起)</h3>
            <p style="font-size:12px;">{{data.reportQueryCaseByFineAmount.caseCount}}</p>
          </div>
          <div class="fine">
            <h3 style="font-size:12px;">罚款金额(元)</h3>
            <p style="font-size:12px;">{{data.reportQueryCaseByFineAmount.sumFineAmount}}</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="!dataSource3 || dataSource3.length == 0" class="commonNoResult">
      无消息
    </div>
  </div>

  <div *ngIf="title=='按月度统计'">
      <div class="Total">
          <div class="total">
            <div>案件总数(起)</div>
            <div style="color:orange;">{{totalCaseCount}}</div>
          </div>
          <div class="total">
            <div>总罚款金额(元)</div>
            <div style="color:orange;">{{totalSumFineAmount | money}}</div>
          </div>
        </div>
    <div *ngIf="dataSource4 && dataSource4.length > 0">
      <ion-list>
        <ion-item *ngFor="let data of dataSource4">
          <div class="category">
            <h3 style="font-size:12px;">{{category}}</h3>
            <p style="font-size:12px;">{{data.reportQueryCaseByMonthly.indexYear}}年{{data.reportQueryCaseByMonthly.indexMonth}}月</p>
          </div>
          <div class="cases">
            <h3 style="font-size:12px;">案件数(起)</h3>
            <p style="font-size:12px;">{{data.reportQueryCaseByMonthly.caseCount}}</p>
          </div>
          <div class="fine">
            <h3 style="font-size:12px;">罚款金额(元)</h3>
            <p style="font-size:12px;">{{data.reportQueryCaseByMonthly.sumFineAmount}}</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="!dataSource4 || dataSource4.length == 0" class="commonNoResult">
      无消息
    </div>
  </div>

  <div *ngIf="title!='按类别统计'&&title!='按整改情况统计'&&title!='按罚款统计'&&title!='按月度统计'&&title!='按季度统计'&&title!='按半年度统计'&&title!='按年度统计'&&title!='按来源统计'&&title!='按地区统计'" class="commonNoResult">
    无消息
  </div> -->
</ion-content>