page-public-opinion-info-list {
    ion-content {
        .list {
            .item {
                .label {
                    .messageTitle {
                        h3 {
                            font-size: 14px;
                            font-weight: bold;
                            color: #000;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            padding-top: 7px;
                            word-wrap: break-word;
                            word-break: break-all;
                            text-overflow: clip;
                            white-space: normal;
                        }
                    }
                    .h6,
                    .h7 {
                        font-size: 12px;
                        color: color($colors, dark, base);
                        padding: 4px 0;
                    }
                    .h6 {
                        float: left;
                    }
                    .h7 {
                        float: right;
                    }
                    h4,
                    h5 {
                        font-size: 12px;
                        color: color($colors, tertiary, base);
                        padding-bottom: 4px;
                    }
                    h4 {
                        float: left;
                    }
                    h5 {
                        float: right;
                    }
                }
            }
        }
        .list.data-list {
            .item {
                .item-inner {
                    .label {
                        height: auto;
                        min-height: 10px!important;
                        margin: 0px 10px;
                    }
                }
            }
        }
    }
}