<ion-header>
  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="showSimpleSearch()">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showSearch('MessageCenterSearchPage')">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="dataList && dataList.length > 0">
    <ion-list>
      <ion-item *ngFor="let data of dataList" (click)="view(data.messageCenter)">
        <div class="messageTitle">
          <h2>{{data.messageCenter.messageTypeName}}</h2>
          <h3>{{data.messageCenter.messageTitle}}</h3>
        </div>
        <div>{{data.messageCenter.messageContent}}</div>
        <h4>{{data.messageCenter.readStateName}}</h4>
        <h5>{{data.messageCenter.readTime | datetime}}</h5>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="nextPage($event)">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="正在加载...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="!dataList || dataList.length == 0" class="commonNoResult">
    无消息
  </div>
</ion-content>