<ion-header>
  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="showSimpleSearch()" (press)="pageService.showMessage('搜索')">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showSearch('MessageCenterSearchPage')" (press)="pageService.showMessage('筛选')">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshDataList($event)" [pullMax]="800">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中..."></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="dataList && dataList.length > 0">
    <ion-list class="data-list">
      <div *ngFor="let data of dataList" (click)="view(data.messageCenter)">
        <ion-item *ngIf="data.messageCenter.messageType!=1&&data.messageCenter.readState!=4">
          <div class="messageTitle">
            <h3>{{data.messageCenter.messageTypeName}}</h3>
            <h2>{{data.messageCenter.messageTitle}}</h2>
          </div>
          <div>{{data.messageCenter.messageContent}}</div>
          <h4 [ngClass]="{'noRead':data.messageCenter.readState==1}">{{data.messageCenter.readStateName}}</h4>
          <h5>{{data.messageCenter.readTime | datetime}}</h5>
        </ion-item>
      </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="nextPage($event)">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="正在加载...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="!dataList || dataList.length == 0" class="commonNoResult">
    无消息
  </div>
</ion-content>