page-patrol-info-edit-case-problem {
    ion-content {
        .input-wrapper {
            .label {
                color: color($colors, dark, base);
                word-wrap: break-word;
                word-break: break-all;
                text-overflow: clip;
                white-space: normal;
            }
        }
    }
    ion-footer {
        button {
            display: inline-block;
            width: 31.6%;
            border-right: solid 1px white;
        }
        button:last-child {
            border-right: 0;
        }
    }
    .item-ios.item-block .item-inner {
        border-bottom: 1px solid color($colors, border, base)!important;
    }
}