<ion-header>
  <ion-navbar>
    <ion-title>通知公告</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="showSimpleSearch()" (press)="pageService.showMessage('搜索通知公告')">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showSearch('NoticeSearchPage')" (press)="pageService.showMessage('筛选通知公告')">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshDataList($event)" [pullMax]="800">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中..."></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="dataList && dataList.length > 0">
    <ion-list class="data-list">
      <ion-item *ngFor="let data of dataList" (click)="view(data)">
        <div class="messageTitle">
          <h2>{{data.infoCategoryName}}</h2>
          <h3>{{data.title}}</h3>
        </div>
        <div>{{data.briefIntroduction}}</div>
        <h4>{{data.sendDeptName}}</h4>
        <h5>{{data.sendDate | datetime:"yyyy-MM-dd"}}</h5>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="nextPage($event)">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="正在加载...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="!dataList || dataList.length == 0" class="commonNoResult">
    无消息
  </div>
</ion-content>