<ion-header>
  <ion-navbar>
    <ion-title>督查通知</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="showSimpleSearch()" (press)="pageService.showMessage('搜索督查通知')">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showSearch('InspectionNoticeSearchPage')" (press)="pageService.showMessage('筛选督查通知')">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentIndex" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="0">
        接收的通知
      </ion-segment-button>
      <ion-segment-button value="1">
        发送的通知
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refreshDataList($event)" [pullMax]="800">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中..."></ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="segmentIndex">
    <div *ngSwitchCase="'0'">
      <div *ngIf="dataList && dataList.length > 0">
        <ion-list class="data-list">
          <ion-item *ngFor="let data of dataList" (click)="view(data)">
            <div class="messageTitle">
              <h2>{{data.recordStateName}}</h2>
              <h3>{{data.inspectorNotice.fileTitle}}</h3>
            </div>
            <div>{{data.inspectorNotice.situationDescription}}</div>
            <h5>{{data.inspectorNotice.fromTime | datetime}}</h5>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="nextPage($event)">
          <ion-infinite-scroll-content loadingSpinner="circles" loadingText="正在加载...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
      <div *ngIf="!dataList || dataList.length == 0" class="commonNoResult">
        无接收的督查通知
      </div>
    </div>

    <div *ngSwitchCase="'1'">
      <div *ngIf="dataList && dataList.length > 0">
        <ion-list class="data-list">
          <ion-item *ngFor="let data of dataList" (click)="view(data)">
            <div class="messageTitle">
              <h2>{{data.recordStateName}}</h2>
              <h3>{{data.inspectorNotice.fileTitle}}</h3>
            </div>
            <div>{{data.inspectorNotice.situationDescription}}</div>
            <h5>{{data.inspectorNotice.fromTime | datetime}}</h5>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="nextPage($event)">
          <ion-infinite-scroll-content loadingSpinner="circles" loadingText="正在加载...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
      <div *ngIf="!dataList || dataList.length == 0" class="commonNoResult">
        无发送的督查通知
      </div>
    </div>
  </div>
</ion-content>