page-inspect-statistics {
    ion-toolbar {
        .toolbar-background {
            background: #fff;
        }
    }
    ion-list {
        .item-block {
            padding-left: 0;
            min-height: 0ch;
            height: 45px;
            .item-inner {
                padding-left: 16px;
            }
        }
    }
    .top {
        height: 22mm;
        .toolbar-background {
            border-width: 0 0 1px 0!important;
            border-color: color($colors, border, base);
        }
    }
    ion-content .list .item .label {
        padding-top: 1mm;
        padding-bottom: 0mm;
    }
    .Total {
        padding: 15px 0;
        .total {
            display: inline-block;
            width: 48.5%;
            font-size: 1.22rem;
            padding: 5px 0 5px 16px;
            height: 52px;
            border-right: solid 1px color($colors, border, base);
            color: color($colors, dark, base); //设置字体颜色为灰色
            div:last-child {
                padding-top: 5px;
                font-size: 19px;
            }
        }
        .total:last-child {
            border-right: 0;
        }
    }
    .category {
        float: left;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        h3 {
            float: left;
            margin-right: 12px;
            margin-top: 2px;
        }
         p{
            line-height: 1.9;
        }
    }
    .inspectTimes {
        display: table-cell;
    vertical-align: middle;
    text-align: center;
        float: right;
        margin-right: 50px;
        h3 {
            float: left;
            margin-right: 12px;
            margin-top: 2px;
        }
        p{
            line-height: 1.9;
        }
    }
}