<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="chart()" (press)="pageService.showMessage('图表显示')">
        <ion-icon name="ios-stats-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="conditionSearch()" (press)="pageService.showMessage('筛选')">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="top">
    <div class="Total">
      <div class="total">
        <div>总巡查次数</div>
        <div style="color:#ff8a0f;">{{totalPatrolCount}}</div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="dataSource && dataSource.length > 0">
    <ion-list>
      <ion-item *ngFor="let data of dataSource">
        <div class="category">
          <h3 style="font-size:14px;">{{category}}</h3>
          <p style="font-size:14px;">{{data[0]}}</p>
        </div>
        <div class="inspectTimes">
          <h3 style="font-size:14px;">巡查次数</h3>
          <p style="font-size:14px;">{{data[1]}}</p>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!dataSource || dataSource.length == 0" class="commonNoResult">
    无消息
  </div>
</ion-content>