page-notice-detail {
    ion-content {
        ion-app.ios [padding] .scroll-content{
            padding-bottom: 0;
        }
        h2 {
            font-size: 20px;
        }
        h5 {
            margin-top: 12px;
            font-size: 12px;
            color: color($colors, dark, dark);
            font-weight: normal;
        }
        .map-box{
          padding-left: 1.6rem;
          padding-right: 1.6rem;
        }
        .topHeight{
            -webkit-box-flex: 0 1 auto;
            -moz-box-flex: 0 1 auto;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
        }
        .autoHeight{
            flex: 1 1 auto;
            overflow: scroll;
        }
    }
}